<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testClassTNG.CreateLeaveTypeAndLogout"/>
      <class name="testClassTNG.DeleteTypeWorkandLogout"/>
      <class name="testClassTNG.ActTLoginLogoutTest"/>
      <class name="testClassTNG.SampleTestingSamplecase"/>
      <class name="testClassTNG.DeleteLeaveTypeAndLogout"/>
      <class name="testClassTNG.CreateTypeofWorkAndLogout"/>
      <class name="testClassTNG.EditWorkTypeAndLogout"/>
      <class name="testClassTNG.EditLeaveTypeAndLogout"/>
      <class name="testClassTNG.ActTCreaterCustomerAndLogout"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
